a.navbar-brand {
    text-align: center;
    padding: 20px;
}

body {
    background-color: gold;
    -webkit-tap-highlight-color: gold;
}

div.container.mt-4 {
    background-color: gold;
}

div.card-body {
    background-color: lawngreen;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: deepskyblue;
}

a.nav-link.active {
    padding: 20px;
}

a.nav-link {
    padding: 20px;
}

button.btn.btn-primary {
    background-color: green;
}

button.btn.btn-primary:hover {
    background-color: maroon;
}